/* debut css header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstmenu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 35px;
    width: 100%;
    align-items: center;
}
.texte1{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
}
.texte1 i{
    padding-right: 5px;
}
.item{
    padding-left: 60px;
}
.item1, .item2{
    padding-left: 20px;
}
.texte1 span{
    color: white;
}
.secondmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style-type: none;
}
.element{
    color: #c9961f;
}
.element1, .element2, .element3, .element4, .element5{
    padding-left: 15px;
}
.menu ul li{
    font-size: 13px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color: #c9961f;
}
.image{
    padding-left: 60px;
    margin-bottom: 20px;
}
.banniere img{
    width: 100%;
    height: 350px;
}
.dot{
    width: 90px;
    position: relative;
    top: -50px;
    left: 650px;
    
}
/* fin css header */

/* debut css menu milieu */
.mere{
    display: flex;
    justify-content: center;
}
.bar p{
    margin-top: 15px;
}
.progress-container{
    background-color: gainsboro;
    color: white;
    border-radius: 15px;
    width: 100%;
}
.progress-bar{
    background-color:#c9961f;
    text-align: right;
    font-size: 15px;
    border-radius: 10px;
}
.progress-bar span{
    color: #c9961f;
    position: relative;
    bottom: 20px;
    left: 14px;
}
.un{
    width: 70%;
}
.deux{
    width: 50%;
}
.trois{
    width: 87%;
}
.quatre{
    width: 95%;
}
.img{
    height: 50%;
    margin-left: 40px;
    background-color: white;
}
.text{
    margin-right: 50px;
    margin-top: 20px;
}
.text p{
    margin-top: 15px;
}
.bar, .progress-container{
    margin-top: 10px;
}
.content{
    display: flex;
    justify-content: center;
}
.content p{
    width: 70%;
    justify-content: space-between;
    font-size: 12px;
}
/* fin menu milieu */

/* debut css footer */
.footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), #282A3F), url(https://c4.wallpaperflare.com/wallpaper/58/891/653/sports-fitness-brunette-girl-wallpaper-thumb.jpg);
    color: white;
    height: 300px;
    padding-top: 20px;
}
.bas{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.iteme{
    margin-top: 50px;
}
.iteme p{
    padding-top: 20px;
}
/* fin css footer */